![dvd_image](dvd_image.jpg)

A DVD rental company needs your help! They want to figure out how many days a customer will rent a DVD for based on some features and has approached you for help. They want you to try out some regression models which will help predict the number of days a customer will rent a DVD for. The company wants a model which yeilds a MSE of 3 or less on a test set. The model you make will help the company become more efficient inventory planning.

The data they provided is in the csv file `rental_info.csv`. It has the following features:
- `"rental_date"`: The date (and time) the customer rents the DVD.
- `"return_date"`: The date (and time) the customer returns the DVD.
- `"amount"`: The amount paid by the customer for renting the DVD.
- `"amount_2"`: The square of `"amount"`.
- `"rental_rate"`: The rate at which the DVD is rented for.
- `"rental_rate_2"`: The square of `"rental_rate"`.
- `"release_year"`: The year the movie being rented was released.
- `"length"`: Lenght of the movie being rented, in minuites.
- `"length_2"`: The square of `"length"`.
- `"replacement_cost"`: The amount it will cost the company to replace the DVD.
- `"special_features"`: Any special features, for example trailers/deleted scenes that the DVD also has.
- `"NC-17"`, `"PG"`, `"PG-13"`, `"R"`: These columns are dummy variables of the rating of the movie. It takes the value 1 if the move is rated as the column name and 0 otherwise. For your convinience, the reference dummy has already been dropped.

In [35]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

# Import any additional modules and start coding below
df = pd.read_csv('rental_info.csv')
df.head()

                 rental_date  ... rental_rate_2
0  2005-05-25 02:54:33+00:00  ...        8.9401
1  2005-06-15 23:19:16+00:00  ...        8.9401
2  2005-07-10 04:27:45+00:00  ...        8.9401
3  2005-07-31 12:06:41+00:00  ...        8.9401
4  2005-08-19 12:30:04+00:00  ...        8.9401

[5 rows x 15 columns]

## **EDA & Data Filtering**

In [36]:
print(df.isna().sum())
print(df.columns)
print(df.info())

df['rental_date'] = pd.to_datetime(df['rental_date']) 
df['return_date'] = pd.to_datetime(df['return_date'])

df['rental_length_days'] = (df['return_date'] - df['rental_date']).dt.days
df['rental_length_days'].head()

df['deleted_scenes'] = np.where(df['special_features'].str.contains('Deleted Scenes'), 1, 0)
df['behind_the_scenes'] = np.where(df['special_features'].str.contains('Behind the Scenes'), 1, 0)

df.head()

rental_date         0
return_date         0
amount              0
release_year        0
rental_rate         0
length              0
replacement_cost    0
special_features    0
NC-17               0
PG                  0
PG-13               0
R                   0
amount_2            0
length_2            0
rental_rate_2       0
dtype: int64
Index(['rental_date', 'return_date', 'amount', 'release_year', 'rental_rate',
       'length', 'replacement_cost', 'special_features', 'NC-17', 'PG',
       'PG-13', 'R', 'amount_2', 'length_2', 'rental_rate_2'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15861 entries, 0 to 15860
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rental_date       15861 non-null  object
 1   return_date       15861 non-null  object
 2   amount            15861 non-null  float64
 3   release_year      15861 non-null  float64
 4   rental_rate       15861 non-null  float64
 5   length            15861 non-null  float64
 6   replacement_cost  15861 non-null  float64
 7   special_features  15861 non-null  object
 8   NC-17             15861 non-null  int64
 9   PG                15861 non-null  int64
 10  PG-13             15861 non-null  int64
 11  R                 15861 non-null  int64
 12  amount_2          15861 non-null  float64
 13  length_2          15861 non-null  float64
 14  rental_rate_2     15861 non-null  float64
dtypes: float64(8), int64(4), object(3)
memory usage: 1.8+ MB
None

                rental_date  ... behind_the_scenes
0 2005-05-25 02:54:33+00:00  ...                 1
1 2005-06-15 23:19:16+00:00  ...                 1
2 2005-07-10 04:27:45+00:00  ...                 1
3 2005-07-31 12:06:41+00:00  ...                 1
4 2005-08-19 12:30:04+00:00  ...                 1

[5 rows x 18 columns]

## **Data Split Into Training & Testing**

In [37]:
Seed = 9
X = df.drop(columns=['rental_date', 'return_date', 'special_features','rental_length_days'])
y = df['rental_length_days']

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    stratify=y,
    test_size=0.2,
    random_state=Seed
)

In [38]:
alpha_value = 0.01
lasso = Lasso(alpha=alpha_value, random_state=9)
lasso.fit(X_train, y_train)
lasso_coef = lasso.coef_
selected_features = X_train.columns[lasso_coef > 0]
X_train_selected = X_train[selected_features]
X_test_selected = X_test[selected_features]
selected_features

Index(['amount', 'release_year', 'length', 'NC-17', 'behind_the_scenes'], dtype='object')

## **Hyperparameter Tuning & Finding Best Model**

In [39]:
def perform_grid_search(model, param_grid, X_train, y_train, X_test, y_test):
    grid_search = GridSearchCV(model, param_grid, cv=3, scoring='neg_mean_squared_error', n_jobs=-1)
    grid_search.fit(X_train, y_train)
    best_model = grid_search.best_estimator_
    y_pred = best_model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    return best_model, mse

param_grid_linreg = {
    'fit_intercept': [True, False],
    'copy_X': [True, False]
}

param_grid_tree = {
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5],
    'min_samples_leaf': [1, 2]
}

param_grid_forest = {
    'n_estimators': [10, 50],
    'max_depth': [None, 10],
    'min_samples_split': [2, 5],
    'min_samples_leaf': [1, 2]
}

linreg = LinearRegression()
tree = DecisionTreeRegressor(random_state=9)
forest = RandomForestRegressor(random_state=9, n_jobs=-1)

best_linreg, mse_best_linreg = perform_grid_search(linreg, param_grid_linreg, X_train_selected, y_train, X_test_selected, y_test)
best_tree, mse_best_tree = perform_grid_search(tree, param_grid_tree, X_train_selected, y_train, X_test_selected, y_test)
best_forest, mse_best_forest = perform_grid_search(forest, param_grid_forest, X_train_selected, y_train, X_test_selected, y_test)

mse_dict = {
    'linreg': mse_best_linreg,
    'tree': mse_best_tree,
    'forest': mse_best_forest
}

## **Getting Model With The Least MSE**

In [40]:
best_model_name = min(mse_dict, key=mse_dict.get)
best_mse = mse_dict[best_model_name]

if best_model_name == 'linreg':
    best_model = best_linreg
elif best_model_name == 'tree':
    best_model = best_tree
else:
    best_model = best_forest

best_model, best_mse

(RandomForestRegressor(n_estimators=50, n_jobs=-1, random_state=9),
 2.5088278937479735)